<html><head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> - jsFiddle demo</title>
  
  
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>    
  <link rel="stylesheet" type="text/css" href="http://aehlke.github.com/tag-it/css/jquery.tagit.css">      
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://aehlke.github.com/tag-it/js/tag-it.js"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    
  
  



<script type="text/javascript">//<![CDATA[
$(window).load(function(){

 $("#mytags").tagit({});
});//]]> 

</script>

</head>
<body>
  <ul id="mytags" class="tagit ui-widget ui-widget-content ui-corner-all">
    
<li class="tagit-new"><input type="text" class="ui-widget-content ui-autocomplete-input ui-autocomplete-loading" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></li></ul>



  
</body></html>