/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require chosen
 *= require_tree .
 *= require_self
 */
 .search-bar{
 	width: 100%;
 }

 a.divlink {
 	background-image: url("/assets/map_bg.png");
 	border-radius: 25px;
 	border: 0.5px solid #7d7968;
 	color: #252528;
 	display: block;
 	float: left;
 	height: 120px;
 	margin: 1%;
 	text-align: left;
 	width: 100%;
 }

 a.divlink p {
 	margin: 0 10px;
 }
 
 .fa-map-marker{
 	padding-right:10px;
 	color: #F7544C;
 	margin-left: 8px;
 	padding-top: 20px;
 } 
 
 .name{
 	color: #01539f;
 	font-family: tescoregular,arial,sans-serif;
 }

 .store-info a:hover {
 	text-decoration: none;
 	border: 1px none #7d7968;
 	color: #040222;
 }

 .store-info p, .store-info h5 {
 	margin: 1%;
 }