/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require chosen
 *= require_tree .
 *= require_self
 */
 .search-bar{
 	width: 100%;
 }

 a.divlink {
 	background-image: url("/assets/map_bg.png");
 	background-color: #c7e2f7;
    border: 1px inset #cecece;
    /* border-radius: 31px 31px 31px 31px; */
    border-radius: 25px 25px 25px 25px;
    border: 0.5px solid #000000;
    color: #01539f;
    display: block;
    float: left;
    height: 95px;
    margin: 1%;
    text-align: left;
    width: 100%;
 }

 a.divlink p {
 	margin: 0 25px;
 }
 
.spot{
  background: #FFFACD !important;
 }
 
 .fa-map-marker{
 	padding-right: 10px;
    color: red;
    margin-left: 8px;
    padding-top: 20px;
 } 
 
 .name{
 	color: #01539f;
 	font-family: tescoregular,arial,sans-serif;
 }

 .store-info a:hover {
 	text-decoration: none;
 	border: 1px none #7d7968;
 	color: #040222;
 }

 .store-info p, .store-info h5 {
 	margin: 1%;
 }
 
 .prod_info {
    font-weight: bold;
    color: #01539f;
    border: 1px solid #000000;
    border-radius: 53px 53px 53px 53px;
    height: 29px;
    text-align: center;
    width: 100%;
    background-color: #c7e2f7;
}
 
.sort{
    float: right;
    margin-right: 15px;  
} 

.select-tag {width: 180px;margin-bottom: -67px;height: 29px;border-color: #E7E7CA;background-color: #f8f8f8;}

.form-control {
    display: block;
    width: 77%;
    height: 29px;
    padding: 3px 28px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-left: 66px;
    margin-top: -29px;
}

